@import "../sass/variables";

@font-face {
  font-family: "openSans";
  src: url("../fonts/opensans.woff2");
}

@font-face {
  font-family: "openSansBold";
  src: url("../fonts/opensansbold.woff2");
}

@font-face {
  font-family: "openSansLight";
  src: url("../fonts/opensanslight.woff2");
}

@font-face {
  font-family: "openSans";
  src: url("../fonts/opensanslight.woff");
}
@font-face {
  font-family: "openSansBold";
  src: url("../fonts/opensansbold.woff");
}
@font-face {
  font-family: "openSansLight";
  src: url("../fonts/opensanslight.woff");
}
