@import "../sass/variables";

.conta—Åt {
  min-height: 412px;
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;

  a {
    color: red;
    font-size: 24px;
    display: inline-block;
    text-align: center;
  }
}

.contact__title {
  h3 {
    font-size: $font-24;
    font-weight: $weight-light;
    line-height: $line-height-24;
    margin-bottom: 45px;
    margin-top: 50px;
  }
}


.contact__phone {
  h4 {
    padding-left: 60px;
  }
}

.contact__email {
  h4 {
    padding-left: 90px;
  }
}

.contact__address {
  h4 {
    padding-left: 15px;
  }
}
