@import "../sass/variables";

.main {
  width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.main__title {
  padding-bottom: 40px;
  padding-top: 46px;
  display: flex;
  flex-direction: column;

  h2 {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: $font-24;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
  }

  h2:nth-child(1) {
    margin-bottom: 30px;
  }
}

.main__iphone--img {
  display: flex;
  justify-content: center;
}