@import "../sass/variables";

.map {
  position: relative;
  margin: 0 auto;
  width: 280px;
  border: gold 5px solid;

  &::before {
    content: "";
    position: absolute;
    border-top: 60px white solid;
    border-left: 160px transparent solid;
    border-right: 160px transparent solid;
    top: 0;
    z-index: 100;
  }
}
