$bg-header: #1d2631;
$bg-header-menu: rgba(#1d2631, 0.6);
$bg-decor-light-grey:#f2f2f2;
$bg-dark-blue:#283645;
$font-family: 'Open Sans', sans-serif;
$font-14:14px;
$font-18:18px;
$font-24:24px;
$weight-bold:bold;
$weight-light:lighter;
$line-height-30:30px;
$line-height-24:24px;
$line-height-24:24px;
$tablet-width: 768px;
$desktop-width: 1200px;